.editor {
  --base00: hsl(200, 12%, 15%);
  --base01: hsl(200, 12%, 20%);
  --base02: hsl(200, 12%, 25%);
  --base03: hsl(200, 12%, 30%);

  /* Snow Storm */
  --base04: hsl(200, 12%, 70%);
  --base05: hsl(200, 12%, 80%);
  --base06: hsl(200, 12%, 90%);

  /* Frost */
  --base07: hsl(180, 50%, 60%);
  --base08: hsl(180, 50%, 65%);
  --base09: hsl(180, 50%, 70%);
  --base0A: hsl(180, 50%, 75%);

  /* Aurora */
  --base0B: hsl(0, 100%, 50%);
  --base0C: hsl(15, 100%, 60%);
  --base0D: hsl(40, 100%, 70%);
  --base0E: hsl(80, 100%, 60%);
  --base0F: hsl(280, 100%, 60%);

  /* Custom Colors */
  --black: hsl(0, 0%, 0%);
  --pink: hsl(300, 100%, 60%);
  --cyan: hsl(180, 100%, 50%);
  --darkercyan: hsl(180, 100%, 40%);
  --cyan04: hsl(180, 100%, 20%);
  --blue: hsl(200, 100%, 50%);
  --lightblue: hsl(200, 100%, 60%);
  --red: hsl(0, 100%, 60%);
  --green: hsl(120, 100%, 50%);
  --darkgold: hsl(40, 100%, 30%);
  --gold: hsl(40, 100%, 50%);
  --aliceblue: hsl(200, 100%, 95%);
  --white: hsl(0, 0%, 90%);
  --yellow: hsl(40, 100%, 60%);
  --coral: hsl(20, 100%, 40%);
  --grey05: hsla(0, 0%, 30%, 0.5);
  --darkwhite: hsl(0, 0%, 80%);
  --lightergray: hsl(0, 0%, 70%);

  .CodeMirror {
    background-color: #ffffff;
    --fat-cursor-color: #ffffff;
    color: var(--base02);
  }

  .CodeMirror-scroll {
    color: var(--white);
  }

  .CodeMirror-gutters {
    background-color: transparent;
  }

  .CodeMirror-linenumber {
    color: var(--base03);
    opacity: 0.6;
  }

  .CodeMirror-selected {
    background-color: var(--cyan04);
    border-radius: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  .CodeMirror-focused .CodeMirror-selected {
    background-color: var(--cyan04);
    border-radius: 3px;
    padding-left: 1px;
    padding-right: 1px;
  }

  .CodeMirror-cursor {
    border-left: 1px solid var(--aliceblue);
  }

  .CodeMirror-matchingbracket,
  .CodeMirror-matchingtag {
    outline-style: solid;
    outline-width: 1px;
    padding: 1.5px 0 1.5px 0;
    outline-color: var(--white);
    color: inherit !important;
  }
  .CodeMirror-foldgutter-open:after {
    color: var(--base03);
  }
  .CodeMirror-foldgutter-folded:after {
    color: var(--base03);
  }

  .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
  .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
    color: var(--base03);
  }

  .CodeMirror-foldmarker {
    border-color: var(--base03);
    background-color: var(--base03);
    color: var(--base02);
  }

  .CodeMirror .CodeMirror-linewidget img.inline-widget {
    background: rgba(0, 0, 0, 0.05);
  }

  .CodeMirror-searching {
    background-color: var(--cyan) !important;
  }

  .CodeMirror-searching.searching-current-match {
    background-color: var(--cyan) !important;
  }

  .CodeMirror-searching.searching-current-match {
    background-color: var(--cyan) !important;
  }

  .CodeMirror .cm-formatting-list.cm-variable-2,
  .CodeMirror .cm-variable-2 {
    color: var(--gold);
  }

  .CodeMirror .cm-formatting-list.cm-variable-3,
  .CodeMirror .cm-variable-3 {
    color: var(--green);
  }

  .CodeMirror .cm-overlay,
  .CodeMirror .cm-searching {
    background-color: var(--coral);
    color: var(--white) !important;
  }

  .CodeMirror .cm-formatting-code-block {
    color: var(--lightergray);
  }

  .CodeMirror .cm-keyword {
    color: var(--pink);
  }

  .CodeMirror .cm-url,
  .CodeMirror .cm-string,
  .CodeMirror .cm-string-2,
  .CodeMirror .cm-hr {
    color: var(--red);
  }

  .CodeMirror .cm-number,
  .CodeMirror .cm-attribute,
  .CodeMirror .cm-plus {
    color: var(--pink);
  }

  .CodeMirror .cm-def {
    color: var(--white);
  }

  .CodeMirror .cm-property {
    color: var(--white);
  }

  .CodeMirror .cm-variable {
    color: var(--lightblue);
  }

  .CodeMirror .cm-operator,
  .CodeMirror .cm-bracket {
    color: var(--gold);
  }

  .CodeMirror .cm-meta {
    color: var(--darkercyan);
  }

  .CodeMirror .cm-comment {
    color: var(--base03);
    font-style: italic;
  }

  .CodeMirror .cm-error,
  .CodeMirror .cm-minus {
    color: var(--base0B);
  }

  .CodeMirror .cm-formatting-header {
    opacity: 1;
  }

  .CodeMirror .cm-formatting-header {
    color: var(--base03) !important;
  }

  .CodeMirror .cm-header {
    color: var(--white);
  }

  .CodeMirror .cm-link {
    color: var(--yellow);
    text-underline-position: under;
  }

  .CodeMirror .cm-rangeinfo {
    color: var(--base0c);
  }

  .CodeMirror .cm-qualifier,
  .CodeMirror .cm-tag {
    color: var(--white);
  }

  .CodeMirror .cm-builtin {
    color: var(--darkwhite);
  }

  .CodeMirror .cm-quote {
    color: var(--gold);
    font-style: italic;
  }

  .CodeMirror .cm-whitespace::before {
    color: var(--base04);
    opacity: 0.4;
  }

  .CodeMirror .cm-formatting-quote,
  .CodeMirror .cm-formatting-strong,
  .CodeMirror .cm-formatting-em {
    opacity: 0.6;
  }

  .CodeMirror .cm-strong {
    color: var(--yellow);
  }

  .CodeMirror .cm-em {
    color: var(--lightblue);
  }

  .CodeMirror .cm-strikethrough {
    color: var(--pink);
  }

  .CodeMirror .CodeMirror-code > div > pre > span::after,
  .CodeMirror .CodeMirror-line > span::after {
    color: var(--green);
    opacity: 1;
  }

  .CodeMirror .cm-inline-code {
    background: rgba(0, 0, 0, 0.02);
    color: var(--base03);
  }

  .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
    background: rgba(0, 0, 0, 0.01);
  }

  .CodeMirror .cm-table-sep,
  .CodeMirror .table-row.table-row-1 {
    color: var(--base0E);
  }

  .CodeMirror-activeline-background,
  .CodeMirror-activeline-gutter {
    background-color: transparent !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--grey05);
  }
}
