.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #FFFFFF;
  color: #434C5E;
}
.editor .CodeMirror-scroll {
  color: #22b4a8;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
}
.editor .CodeMirror-linenumber {
  color: #696a6e;
  opacity: 0.6;
}
.editor .CodeMirror-selected {
  background-color: #194747;
  border-radius: 3px;
  padding-left: 1px;
  padding-right: 1px;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #194747;
  border-radius: 3px;
  padding-left: 1px;
  padding-right: 1px;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #f0f8ff;
  background-color: #f0f8ff;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  outline-style: solid;
  outline-width: 1px;
  padding: 1.5px 0 1.5px 0;
  outline-color: #d2d2d2;
  color: inherit !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #696a6e;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #696a6e;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #696a6e;
}
.editor .CodeMirror-foldmarker {
  border-color: #696a6e;
  background-color: #696a6e;
  color: #434C5E;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.05);
}
.editor .CodeMirror-searching {
  background-color: #66dada !important;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #66dada !important;
}
.editor .CodeMirror .cm-atom {
  color: #D08770;
}
.editor .CodeMirror .cm-formatting-list.cm-variable-2,
.editor .CodeMirror .cm-variable-2 {
  color: #de9e26;
}
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-variable-3 {
  color: #22b4a8;
}
.editor .CodeMirror .cm-overlay,
.editor .CodeMirror .cm-searching {
  background-color: #8b5e16;
  color: #d2d2d2 !important;
}
.editor .CodeMirror .cm-formatting-code-block {
  color: #9b9b9b;
}
.editor .CodeMirror .cm-keyword {
  color: #c877fa;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #ec659b;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #c877fa;
}
.editor .CodeMirror .cm-def {
  color: #d2d2d2;
}
.editor .CodeMirror .cm-property {
  color: #d2d2d2;
}
.editor .CodeMirror .cm-variable {
  color: #3689e7;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-bracket {
  color: #de9e26;
}
.editor .CodeMirror .cm-meta {
  color: #66dada;
}
.editor .CodeMirror .cm-comment {
  color: #696a6e;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #BF616A;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 1;
}
.editor .CodeMirror .cm-formatting-header {
  color: #696a6e !important;
}
.editor .CodeMirror .cm-header {
  color: #d2d2d2;
}
.editor .CodeMirror .cm-link {
  color: #d6c332;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #D08770;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #d2d2d2;
}
.editor .CodeMirror .cm-builtin {
  color: #cacaca;
}
.editor .CodeMirror .cm-quote {
  color: #22b4a8;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #b5b6b6;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #d6c332;
}
.editor .CodeMirror .cm-em {
  color: #3689e7;
}
.editor .CodeMirror .cm-strikethrough {
  color: #c877fa;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #22b4a8;
  opacity: 1;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.02);
  color: #696a6e;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.01);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #A3BE8C;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: transparent !important;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(85, 84, 84, 0.5);
}
